<div style="container" class="mt-5">
  <h1 class="text-center">Tu Pedido</h1>
  <p class="text-center">De McDonalds <img src="https://i0.pngocean.com/files/676/74/342/fast-food-mcdonald-s-logo-golden-arches-restaurant-mcdonalds.jpg" class="rounded-circle" width="25" height="25" alt=""></p>
  <table class="table table-striped col-s-3 col-m-2 mt-2">
    <thead class="text-center">
      <tr class="text-center">
        <th>Cantidad</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Quitar</th>
      </tr>
    </thead>
    <tbody class="text-center" *ngIf="mostrar == 'listado'">
      <tr class="text-center">
        <td>1</td>
        <td>Papas Fritas<img src="https://d25dk4h1q4vl9b.cloudfront.net/media/images/menu-content/CO/papas-y-complementos/papas.png"  width="40"  height="25" alt=""></td>
        <td>$170</td>
        <td><button type="button" class="btn btn-sm btn-outline-danger" (click)="Quitar()" >
          <span class="fas fa-times"></span>
        </button></td>
      </tr>
    </tbody>
  </table>
  <div class="row justify-content-center" *ngIf="mostrar == 'listado'">
    <a class="btn btn-basic align-center"  routerLink="/pedido" title="Pedido">Terminar y pagar</a>
  </div>
  <br>
  <div class="row justify-content-center" *ngIf="mostrar == 'borrar'">
    <a class="btn btn-secondary align-center"   title="Volver" (click)="Desbloquear()">Volver al menu</a>
  </div>
</div>